<footer class=" d-flex ">
    <div class="logo">
        <img src="../../../assets/images/logo.PNG" alt="">        
    </div>
    <div class="socialMedia ">
        <a target="blank" href="https://github.com/diogodvs"><img class="px-" src="../../../assets/icones/github.svg" alt=""></a>
        <a target="blank" href="https://www.linkedin.com/in/diogosilva-desenvolvedor/"><img src="../../../assets/icones/linkedin.svg" alt=""></a>
        <a target="_blank" href="https://www.instagram.com/diiogo_silva/"> <img src="../../../assets/icones/instagram.svg" alt=""> </a>
    </div>
</footer>