
<div class="navbar d-flex flex-column flex-md-row align-items-center pb-2 ">
    <div class="logo">
        <img src="../../../assets/images/logo.PNG" alt="">
    </div>
    <div class="menu">
        <div>
            <button><a class="" href="#">Home</a></button>
        </div>
        
       <div>    
        
            <button><a class="" href="#">User</a></button>
        </div>
        
        <div>
            <button><a class="" href="#">Exit</a></button>
        </div>
    
    </div>
</div>
