

.category-item{
    width: fit-content;
    padding: 0.8rem;
    
}

img{
    width: 280px;
    height: 210px;
    border-radius: 0.6rem;
}

h3{
    text-align: center;
    padding-top: 0.5rem;
}

img:hover{
    opacity: 0.7;
}